<div>
    <h3 class="mt-20 mb-10">Détails</h3>
    <table class=table>
        <thead class=thead-light>
            <tr>
                <th>Réservation</th>
                <th>Prix</th>
            </tr>
        </thead>
    {% for productName, basketItems in (basket.basketItems is defined ? basket.basketItems : basket.orderItems)|group_by(=> _.product.name) %}
        <tr>
            <td colspan="2" class="font-weight-bold">
                {{ productName }}
                {% if basketItems.0.product.page is not null %}
                    <br>
                    <small><a href="{{ path('piedweb_cms_page', {'slug': basketItems.0.product.page.realSlug}) }}" target="_blank">
                        Détails <i class="fa fa-external-link"></i>
                    </a></small>
                {% endif %}
            </td>
        </tr>
        {% for p in basketItems %}
        <tr>
            <td>
                {{ p.firstname }} {{ p.lastname }} {% if p.dateOfBirth is not null %}<br>
                <small>Date de naissance: {{ p.dateOfBirth|date("d/m/Y") }}) {% endif %}</small><br>
                <small>Contact: {{ p.email }} / {{ p.phone }}</small><br>
                {% if basket.orderItems is not defined %}
                <small><a href="{{ path('piedweb_reservation_delete_basket_item', {id: p.id, from: 5}) }}" class=text-color><i class="fa fa-trash"></i> Enlever</a></small>
                {% endif %}
            </td>
            <td style="vertical-align: middle;">{{ p.price }}€</td>
        </tr>
        {% endfor %}
    {% endfor %}
    </table>

    {% if basket.orderItems is not defined %}<p><a href="{{ path('piedweb_reservation_step_4') }}">Modifier</a></p>{% endif %}
</div>
