{% extends '@PiedWebReservation/reservation/reservation.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block logo %}
<a href="{{ path('piedweb_cms_homepage') }}">
<span class="navbar-brand"></span>
</a>
{% endblock logo %}

{% block content %}
    <section class="section-gap">
        <div class="container text-center">
            <h1 class="mb-40">{{ 'Aucune réservation en cours'|trans }}</h1>
            <div class=row>
                <a class="ml-auto mr-auto mb-2 btn btn-primary" href="{{ path('piedweb_cms_homepage') }}">{{ 'reservation.back_home'|trans }}</a>
                <a class="mr-auto ml-auto  mb-2 btn btn-outline-secondary" href="{{ path('piedweb_reservation_user_orders') }}">{{ 'reservation.my_orders'|trans }}</a>
            </div>
        </div>
    </section>
{% endblock %}
